.appLayout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0; /* prevent flex item overflow */
}
